.container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    padding:0rem 2rem;
    
    

};
.elements{
    display: flex;
    flex-direction: column;
    margin-top:5.4rem;
    gap: 2rem;

    
    button{
        display: flex;
        border:0;
        width: 100%;
        align-items:center; 
        background: transparent;
        cursor: pointer;

        font-family: "Spartan", "Helvetica",sans-serif;
        font-weight: 700;
        color:var(--gray_input);
        font-size: 1.25rem;
        margin-right: 2rem;
        
        &:focus{
            color:#5ACC86;
        }
    }

   
};


    .title{
        margin-left: 1rem;
        
    }

    .btn-elements{
        width: 100%;
        display: flex;
        align-items:center;
        padding:1rem;
         
      
    };

    .btn-elements_addButton{
        display: flex;
        align-items: center;
        justify-content:center;
        padding:0.5rem 1.75rem;
    }

    .btn-add{
        background: rgb(90,204,134)  !important ;
        background: linear-gradient(90deg, rgba(90,204,134,1) 0%, rgba(122,229,130,1) 100%);
        width: 15rem !important;
        border-radius:3rem;
        display: flex;
        align-items:center;
        justify-content:center;

        P{
            font-family: "Spartan", "Helvetica",sans-serif;
            font-weight: 700;
            color:var(--background)!important;
            font-size: 1.25rem;
    
        }

        &:hover{
            filter: brightness(0.7);
        }
    };

    .btn-container{
        display: flex;
        flex-direction: column;
        margin-bottom:2rem;
        gap:1rem;

        button{
            background:transparent;
            border: 0;
            cursor: pointer;

            &:hover{
                filter: brightness(0.5)
            }
        }

        p{
            font-family: "Spartan", "Helvetica",sans-serif;
            font-weight: 600;
            color:var(--gray_input);
            font-size: 1.2rem;
            margin: 0 30%;

        }
    }



    .p_out{
        margin-right: 30%;
    }
